<div class="trialpartWrapper" id="part1">
	<p>
	<%= makeSoundButton({soundFile: stimulus , hide: true}) %>
	</p>
</div>

<div class="trialpartWrapper" id="part2">
<br>
    <p>
	<%= continueButton("") %>
    </p>
</div>
