<input type="hidden" name="destination" value="demographics.csv">

Thanks for your participation
<p>
Please answer the following questions so we have an idea of your background&nbsp;:

<p>

	Sex&nbsp;: <br>
		<select name="sex" >
		<option value="none">please choose &nbsp; &nbsp; &nbsp; &nbsp;</option>
		<option value="male">male</option>
		<option value="female">female</option>
		</select>

<p>

	What is your age&nbsp;? <br>
		<INPUT type="text" name="age" value="" size="30" maxlength="100"> <br>

<p>


<p>

	What is your native language&nbsp;? <br>
		<INPUT type="text" name="lang" value="" size="30" maxlength="100"> <br>

<p>

<p>

	Do you speak or have you studied any other languages&nbsp;? <br>
		<INPUT type="text" name="lang" value="" size="30" maxlength="100"> <br>

<p>

	Do have any other comments or suggestions&nbsp;?<br>
	<textarea rows="5" cols="50" name="sugg"></textarea><br>

<p>

	<input type="button" value="   send   " onClick="Experigen.recordResponse(this);"> <br>




