<p>

Great, you have finished listening to words of this new language! <br><br> 
Now you will be presented with new words and you must decide if they sound like they could belong to the language that you have been listening to.
</p>
<p>

<br/>
<%= continueButton() %>
</p>
